body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.8;
}
h1 h2 h3{
    text-transform: uppercase;
}

.nav {
    display: flex;
    height: 100vh;
    width: auto;
    background: url("./imgs/trkphoto.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
    background-attachment: fixed;
    justify-content: center;
    align-items: flex-end;
}

.bar {
    background-color: rgb(255, 255, 255, 0.7);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 5px solid darkblue;
}

.introtxt {
    position: absolute;
    padding-bottom: 400px;
}

.introtxt h3 {
    position: relative;
    color: white;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    transition-duration: 1.5s;
    transition-property: color;
    content: "Transportation done right.";
}

.introtxt h3:hover {
    color: rgb(56, 59, 255);
    background: white;
    border: 1px solid black;
}

.logo {
    padding-left: 50px;
    padding-top: 10px;
    z-index: 99;
}

.logo h2 {
    padding-top: 25px;
    padding-left: 25px;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.logo img {
    height: 82px;
    width: auto;
}

ul li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}

li a {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

li a:hover {
    color: rgb(56, 59, 255);
}

nav {
    text-align: right;
}

.links {
    padding-top: 20px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.aboutus {
    display: flex;
    justify-content: space-between;
    background: white;
    width: 100%;
    height: 600px;
}

.about {
    flex-basis: 50%;
    text-align: center;
    margin: auto;
}

.aboutpic {
    background: url("./imgs/presentation1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-basis: 50%;
}

.aboutpic img {
    width: 100%;
    height: auto;
}


.wrapper {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.boxOne {
    flex-basis: 50%;
}

.box {
    flex-basis: 50%;
    margin: auto;
    height: 100%;
}

.blueBackground {
    background-color: #022b59;
}

.miniwrapper {
    display: flex;
    /* border: 2px solid red;*/
    height: 40%;
    width: 100%;
    justify-content: space-around;
}

.minishowcase {
    align-content: center;
    text-align: center;
    overflow: hidden;
    flex-basis: 27%;
   /* box-shadow: 5px 0px 20px black;*/
    height: 93%;
    color: red;
    font-size: 1.3em;
}
.minishowcase img{
    box-shadow: 5px 0px 30px black;
                
}

#aboutservices{
    text-align: center;
    height: 250px;
    padding: 65px 80px 0px 80px;
    background: black;
    color: white;
}

.sameday{
    width: 100%;
    display: flex;
    height: 500px;
    justify-content: center;
}
.samedayinfo{
    background: white;
    flex-basis: 50%;
    text-align: center;
    margin: auto;
}

.samedayimg{
    background: url("./imgs/shipping_box.jpg")no-repeat;
    flex-basis: 50%;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 240px;
    color: white;
    background-attachment: fixed;
    
}

.samedayimg h3{
    border: 1px solid rgb(55, 0, 255);
    border-radius: 5px;
    width: 225px;
    margin: auto;
    font-weight: bold;
}
.floridaMap{
    height: 400px;
    width: auto;
}