body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.8;
}

.nav {
    display: flex;
    height: 100vh;
    width: auto;
    background: url("./imgs/trkphoto.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
    background-attachment: fixed;
    justify-content: center;
    align-items: flex-end;
}

.bar {
    background-color: rgb(255, 255, 255, 0.7);
    height: 88px;
    width: 100%;
    position: fixed;
    top: 0;
}

.introtxt {
    position: absolute;
    padding-bottom: 500px;
}

.introtxt h3 {
    position: relative;
    color: white;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    transition-duration: 1.5s;
    transition-property: color;
    content: "Transportation done right.";
}

.introtxt h3:hover {
    color: rgb(56, 59, 255);
    background: white;
    border: 1px solid black;
}

.logo {
    padding-left: 50px;
    padding-top: 15px;
    z-index: 99;
}

.logo h2 {
    padding-top: 25px;
    padding-left: 25px;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.logo img {
    height: 65px;
    width: auto;
}

ul li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}

li a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: red;
}

li a:hover {
    color: rgb(56, 59, 255);
}

nav {
    text-align: right;
}

.links {
    padding-top: 40px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.aboutus {
    display: flex;
    justify-content: space-between;
    background: white;
    width: 100%;
    height: 600px;
}

.about {
    flex-basis: 50%;
    text-align: center;
    margin: auto;
}

.aboutpic {
    background: url("./imgs/presentation1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-basis: 50%;
}

.aboutpic img {
    width: 100%;
    height: auto;
}

.services {
    background: white;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.boxOne {
    flex-basis: 50%;
}

.box {
    flex-basis: 50%;
    margin: auto;
    height: 100%;
}

.blueBackground {
    background-color: #022b59;
}

.miniwrapper {
    display: flex;
    /* border: 2px solid red;*/
    height: 40%;
    width: 100%;
    justify-content: space-around;
}

.minishowcase {
    align-content: center;
    text-align: center;
    overflow: hidden;
    flex-basis: 25%;
    box-shadow: 0px 0px 20px white;
    height: 90%;
    color: red;
    font-size: 1.3em;
}

